/* GENERAL */
html {
  height: -webket-fill-available;
}
body {
    box-sizing: bordesr-box;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: -webket-fill-available;
  }
.general-para {
    font-size: 16px;
}
a {
  text-decoration: none;
  color: currentColor;
}

/* NAVBAR */
.nav__main-custom {
  padding: 0 2vw;
  width: 98%;
  margin-left: 1%;
  border-bottom: solid!important;
  border-color: rgb(227, 224, 224)!important;
  border-width: 2px!important;
  }
  /* navbar left */
  .nav__icon-logo  {
    width: 70px;
    margin: 0;
    padding: 0;
  }
  /* navbar middle left */
  @media only screen and (min-width:992px) {
  .nav__middleleft-align-custom {
    margin: auto;
  }
  .nav__middleleft-fontstyle-custom {
    color: rgb(85, 85, 109)!important;
    font-weight: bold;
    font-size: 20px;
  }
  .nav__middleleft-fontstyle-custom:hover {
    opacity: 0.7;
  }
  }
  .nav__overflow-custom{
    height: 40vh;
    overflow: auto;
    width: 222px;
    padding-left: 15px;
    line-height: 25px;
  }
  .nav__overflow-custom:hover {
    display: block;
  }
  .nav__overflow-custom::-webkit-scrollbar {
    width: 7px;
  }
  .nav__overflow-custom::-webkit-scrollbar-track {
    background-color: rgb(231, 228, 228);
  }
  .nav__overflow-custom::-webkit-scrollbar-thumb {
    background-color: rgb(192, 190, 190);
  }
  .nav__overflow-custom::-webkit-scrollbar-thumb:hover {
    background-color: rgb(168, 168, 168);
  }

  /* include use for common-sub.ss */
  .nav__v-sub {
    border-top: 1px solid white;
    font-family: Roboto-Regular;
  }
  .nav__v-sub:hover {
    font-family:Roboto-Medium;
    color: #2559c2;
  }
  .input_drop {
    display: none;
  }
  .nav__vertical-maincontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
  }
  .fa-sort-down {
    padding-right: 10px;
    cursor: pointer;
  }

  .drop-content {
    display: none;
    list-style-type:disc;
    list-style-position:inside;
    padding-left: 0.5rem;
    margin-bottom: 0px;
    border-bottom: 1px solid grey;
    background-color: rgb(226, 224, 224);
    font-family: Roboto-Light;
    line-height: 30px;
  }
  /* include use for common-sub.ss */
  .input__drop-cuasat-nav:checked~.drop__content-cuasat-nav {
    display: block;
  }
  .input__drop-cuanhom-nav:checked~.drop__content-cuanhom-nav {
    display: block;
  }
  .input__drop-cuacuon-nav:checked~.drop__content-cuacuon-nav {
    display: block;
  }
  .input__drop-cuakeo-nav:checked~.drop__content-cuakeo-nav {
    display: block;
  }
  .input__drop-cauthang-nav:checked~.drop__content-cauthang-nav {
    display: block;
  }
  .input__drop-lancan-nav:checked~.drop__content-lancan-nav {
    display: block;
  }


  /* navbar middle right */
  .nav__icon-search-main {
    background-color: rgb(255, 255, 255);
    border-radius: 200px;
    border-color: rgb(193, 193, 197);
    margin-right:3vw;
    color: rgb(73, 73, 73);
    padding: 0px 10px;
  }
  .nav__icon-search-main:hover {
    background-color:rgb(207, 205, 205);
    border-color: rgb(207, 205, 205);
  }

  /* navbar right */
  .nav__right-phonenumber {
    color: rgb(128, 67, 17);
    font-weight: bold;
    background-color: rgb(223, 220, 220);
    border-radius: 20px;
    padding: 3px 10px;
  }
  .nav__right-phonenumber:hover {
    opacity: 0.7;
  }
  @media only screen and (max-width:991px) {
    .fa-phone-volume {
      margin-bottom: 15px;
      margin-top: 15px;
    }
  }
/* GRID-OUR PRODUCT-CUSTOM */
.grid__main-custom {
  margin: auto;
  max-width: 98%;
}
.grid__sub-custom {
  padding: 0 0.5rem;
  position: relative;
}
.body-grid-sub {
  margin-bottom: 12px;
  margin: 0px;
}
.img-grid {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 200px;
  display: block
}
.gridcontent {
  padding-top: 5px;
  font-size: 20px;
  font-family:Roboto-Regular;
  color:rgb(85, 84, 84);
  margin-bottom: 0px;

}
.gridcontent-sub {
  font-size: 15px;
  font-family:Roboto-Thin;
  margin-bottom: 25px;
}
.gridcontent-other {
  font-size: 16px;
  margin-bottom: 0px;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  background-color: rgb(209, 206, 206);
  font-family:Roboto-Medium;
  position: absolute;
  left: 8px;
  bottom: 0;
  color: black;
  text-decoration: none;
}
.gridcontent-other:hover {
  opacity: 0.8;
}


/* FOOTER */
.footer-custom1 {
  margin-right: 50px;
}
.fa-facebook, .fa-telegram,.fa-square-instagram  {
  font-size: 25px;
}
.fa-facebook {
  color: #385898;
}
.fa-telegram {
  color: #3366cc;
}
.fa-square-instagram {
  color: #e33042;
}

/* SEARCHBAR START */

/* test start */
.search__overflow-custom {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255,0.2);
  z-index: 4200;
  display: none;
}

.check-search-icon-class:checked~.search__overflow-custom {
  display: block;
}
.search_bx2 {
  display: block;
}
.check-search-icon-class:checked~.search_bx2 {
  display: none!important;
}


/* test end */

header nav .end_bx .search {
  position: relative;
  display: flex;
  align-items: center;
  color: #292727;
  margin-right: 25px;
  background-color: rgb(248, 247, 247);
  border-radius: 30px;
  z-index: 4300;
}

header nav .end_bx .search input {
  padding: 3px 0px 3px 8px;
  border-radius: 15px;
  border: none;
  outline: none;
  background: transparent;
  color: #413f3f;
  transition: 1s linear;
  -webkit-transition: 1s linear;
  width: 0px;
}

header nav .end_bx .search i {
  color: rgba(49, 48, 48, 0.7);
  font-size: 20px;
  cursor: pointer;
  transition: .4s linear;
  border-radius: 200px;
  padding: 5px 8px 5px 0px;
  margin-left: 1px;
}

header nav .end_bx .search i:hover {
  color: #17184d;
}

header nav .end_bx .search .search_bx2 {
  position: absolute;
  width: 200px;
  height: 300px;
  border: 1px solid #fff;
  top: 35px;
  left: -10px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: .3s linear;
}

header nav .end_bx .search .search_bx2::-webkit-scrollbar {
  width: 7px;
  background: rgb(184, 184, 184, .3);
  border-radius: 20px;
}

header nav .end_bx .search .search_bx2::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184, .7);
  border-radius: 20px;
}

header nav .end_bx .search .search_bx2 a {
  text-decoration: none;
  color: #9e8d8d;
  width: 100%;
  height: 50px;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  transition: .3s linear;
}

header nav .end_bx .search .search_bx2 a:hover {
  background: rgb(184, 184, 184, .6);
}

header nav .end_bx .search .search_bx2 a img {
  width: 30px;
  height: 45px;
  border-radius: 5px;
  margin: 0px 5px;
}

header nav .end_bx .search .search_bx2 a .content2 {
  color: #423d3d;
}

header nav .end_bx .search .search_bx2 a .content2 h6 {
  font-size: 13px;
}

header nav .end_bx .search .search_bx2 a .content2 p {
  /* color: rgba(83, 79, 79, 0.7); */
  font-size: 11px;
  font-weight: 500;
}

/* javascript classes start  */
header nav .end_bx .search .search_input {
  width: 180px;
}
/* SEARCHBAR END */
