@media only screen and (min-width:1200px){
.test1 {
  margin-left: auto;
}
.test2 {
  width: 98%;
}
.test3 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(70, 46, 168)!important;
}
}
/* /* TEST TRƯỢT * */
.nav__iconmenu-test {
  width: 20px;
  float: right;
  cursor: pointer;
}
.nav__menumain-content {
  position: fixed;
  left:0;
  top:100px;
  bottom: 0;
  background-color: white;
  width: 360px;
  max-width: 100%;
  z-index: 5000;
  transform:translateX(-100%);
  transition: all 0.5s;
  opacity: 0.5;
}
.nav__timesclosebar {
  position: absolute;
  width: 30px;
  right: 0;
  top: 0;
  cursor: pointer;
}
.overlay-custom {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4000;
  display: none;
}
.nav__checkclosebar:checked~h1 {
 color: brown;
 display: block;
}
.nav__checkclosebar:checked~.nav__menumain-content {
  transform:translateX(0%);
  opacity: 1;
}
.nav__checkclosebar:checked~.overlay-custom {
  display: block;
}
.nav__overflow-custom:hover {
  display: block;
}